<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.mediScreenApp">
    <!-- the internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MediScreenApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.Support"></activity>
        <activity android:name=".view.AppRating" />
        <activity android:name=".view.MakePayment" />
        <activity android:name=".view.MedicalDetails" />
        <activity android:name=".view.SelectInsurancePro" />
        <activity android:name=".view.SelectDoctor" />
        <activity android:name=".view.ListDoctors" />
        <activity android:name=".view.MainScreen" />
        <activity
            android:name=".view.RegistrationConfirm"
            android:parentActivityName=".view.RegistrationForm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.mediScreenApp.view.RegistrationForm" />
        </activity>
        <activity
            android:name=".view.RegistrationForm"
            android:parentActivityName=".view.LoginRegister">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.mediScreenApp.view.LoginRegister" />
        </activity>
        <activity
            android:name=".view.LoginRegister"
            android:label="@string/title_activity_login"
            android:parentActivityName=".view.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.mediScreenApp.view.StartScreen" />
        </activity>
        <activity
            android:name=".view.StartScreen"
            android:label="MediScreenApp"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>